html, body {
    background-color: #fff;
    color: #fff;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.header-nav {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    height: 60px;
    margin: 0;
    list-style: none;
}

.header {
    width: 100%;
    background-color: darkcyan;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
}

.main-content {
    display: flex;
    position: absolute;
    top: 220px;
    bottom: 60px;
    width: 100%;
}

.main-content .sidemenu {
    background-color: #000;
    color: #fff;
    list-style: none;
    margin: 0;
    padding-top: 15px;
    width: 90px;
}

.main-content .sidemenu li {
    padding: 10px;
}

.main-content .content {
    color: #000;
    font-weight: 800;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}